---
layout: default
---

<div class="posts">
  {% for post in paginator.posts %}
  <article class="post">
    <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
    <span class="inlineBlock">
      <i class="fas fa-clock" style="color: #666666; display: inline"></i>&nbsp;
      <h5 class="date" style="display: inline">
        {{ post.date | date: "%A, %e %B, %Y" }}
      </h5>
      <span style="display: inline; font-weight: bold; font-size: 24px"
        >&nbsp;-&nbsp;</span
      >
    </span>
    <span class="inlineBlock">
      <div class="post-categories">
        <i class="fas fa-folder" aria-hidden="true"></i>&nbsp; {% if post %} {%
        assign categories = post.categories %} {% else %} {% assign categories =
        page.categories %} {% endif %} {% for category in categories %}
        <a
          class="categories-button"
          href="{{site.baseurl}}/categories/#{{category|slugize}}"
          >{{category}}</a
        >
        {% if forloop.last != true %} , {% endif %} {% unless forloop.last %}{%
        endunless %} {% endfor %}
      </div>
      <span style="display: inline; font-weight: bold; font-size: 24px"
        >&nbsp;-&nbsp;</span
      >
    </span>
    <span class="inlineBlock">
      <div class="post-tags">
        <i class="fas fa-tags" aria-hidden="true"></i>&nbsp; {% if post %} {%
        assign tags = post.tags %} {% else %} {% assign tags = page.tags %} {%
        endif %} {% for tag in tags %}
        <a class="tags-button" href="{{site.baseurl}}/tags/#{{tag|slugize}}"
          >{{tag}}</a
        >
        {% if forloop.last != true %} , {% endif %} {% unless forloop.last %}{%
        endunless %} {% endfor %}
      </div>
    </span>

    <div class="entry">{{ post.excerpt }}</div>

    <a href="{{ site.baseurl }}{{ post.url }}" class="read-more"
      >Read more&nbsp;&#183;{% include read-time.html content=post.content %}</a
    >
  </article>
  {% endfor %} {% include pagination.html %}
</div>
