---
layout: default
---

<article class="post">
  <h1 style="color: #4183c4; font-family: inherit">{{ page.title }}</h1>
  <span class="inlineBlock">
    <i
      class="fas fa-clock"
      aria-hidden="true"
      style="color: #666666; display: inline"
    ></i>
    <h5 class="date" style="font-weight: normal; display: inline">
      &nbsp;{{ page.date | date: "%B %e, %Y" }}
    </h5>
    <span style="display: inline; font-weight: normal; font-size: 24px"
      >&nbsp;-&nbsp;</span
    >
  </span>

  <span class="inlineBlock">
    <div class="post-categories" style="font-weight: normal">
      <i class="fas fa-folder" aria-hidden="true"></i>&nbsp; {% if post %} {%
      assign categories = post.categories %} {% else %} {% assign categories =
      page.categories %} {% endif %} {% for category in categories %}
      <a
        class="categories-button"
        style="font-weight: normal"
        ;
        href="{{site.baseurl}}/categories/#{{category|slugize}}"
        >{{category}}</a
      >
      {% if forloop.last != true %} , {% endif %} {% unless forloop.last %}{%
      endunless %} {% endfor %}
    </div>
    <span style="display: inline; font-weight: normal; font-size: 24px"
      >&nbsp;-&nbsp;</span
    >
  </span>
  <span class="inlineBlock">
    <div class="post-tags" style="font-weight: normal">
      <i class="fas fa-tags" aria-hidden="true"></i>&nbsp; {% if post %} {%
      assign tags = post.tags %} {% else %} {% assign tags = page.tags %} {%
      endif %} {% for tag in tags %}
      <a
        class="tags-button"
        style="font-weight: normal"
        ;
        href="{{site.baseurl}}/tags/#{{tag|slugize}}"
        >{{tag}}</a
      >
      {% if forloop.last != true %} , {% endif %} {% unless forloop.last %}{%
      endunless %} {% endfor %}
    </div>
  </span>

  <div class="entry">{{ content }}</div>

  <div class="post-nav">{% include post-nav.html %}</div>
</article>
